<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add new user to database</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsable-nav"
                    aria-controls="collapsable-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsable-nav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="users.html">Users </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="addUser.html">Add user </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container mt-3">
    <form method="post">
        <div class="form-group">
            <label class="col-md-4 control-label" for="firstName">First Name: </label>
            <div class="col-md-4">
                <input id="firstName" name="firstName" type="text" placeholder="enter please first name here"
                       class="form-control input-md" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="lastName">Last Name: </label>
            <div class="col-md-4">
                <input id="lastName" name="lastName" type="text" placeholder="enter please last name here"
                       class="form-control input-md" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="dateOfBirth">Date of Birth: </label>
            <div class="col-md-4">
                <input id="dateOfBirth" name="dateOfBirth" type="date" placeholder="enter please date of birth here"
                       class="form-control input-md" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="salary">Salary: </label>
            <div class="col-md-4">
                <input id="salary" pattern="\d*" name="salary" type="text" placeholder="enter please salary here"
                       class="form-control input-md" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Add User</button>
            </div>
        </div>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>